_data export-ignore
_includes export-ignore
_layout export-ignore
.circleci export-ignore
scripts export-ignore
_config_production.yml export-ignore
_config-yml export-ignore
favicon.ico export-ignore
gulpfile.js export-ignore
index.html export-ignore
package-lock.json export-ignore
package.json export-ignore
robots.txt export-ignore
